In [ ]:
import pandas as pd


DATASET_PATH = "dataset/titanic.csv"  # 본인이 mobile.csv를 저장한 경로를 입력합니다.
# DATASET_PATH = "https://github.com/MyungKyuYi/AI-class/blob/main/diabetes.csv"

df = pd.read_csv(DATASET_PATH)

print(df.head())

survival_counts = df['Survived'].value_counts()
print("생존자 수:", survival_counts.get(1, 0))
print("사망자 수:", survival_counts.get(0, 0))

missing_age_survived = df[df['Survived'] == 1]['Age'].isnull().sum()
missing_age_died = df[df['Survived'] == 0]['Age'].isnull().sum()

print(f"생존자의 Age 결측치 개수: {missing_age_survived}")
print(f"사망자의 Age 결측치 개수: {missing_age_died}")

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
생존자 수: 342
사망자 수: 549
생존자의 Age 결측치 개수: 52
사망자의 Age 결측치 개수: 125

In [47]:
from sklearn.preprocessing import LabelEncoder

# 라벨 인코딩
# LabelEncoder 객체 생성
le = LabelEncoder()

# 특정 컬럼만 인코딩 (예: 'Sex'와 'Embarked')
columns_to_encode = ['Sex']

for col in columns_to_encode:
    df[col] = le.fit_transform(df[col].astype(str))  # NaN 처리를 위해 문자열로 변환
    

print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    1  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0
2                             Heikkinen, Miss. Laina    0  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    0  35.0      1      0
4                           Allen, Mr. William Henry    1  35.0      0      0

             Ticket     Fare Cabin Embarked
0         A/5 21171   7.2500   NaN        S
1          PC 17599  71.2833   C85        C
2  STON/O2. 3101282   7.9250   NaN        S
3            113803  53.1000  C123        S
4            373450   8.0500   NaN        S

In [48]:
# 컬럼 제거
columns_to_drop = ['Name', 'Ticket', 'Cabin', 'Embarked'] 
df = df.drop(columns=columns_to_drop)
print(df.head())

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    1  22.0      1      0   7.2500
1            2         1       1    0  38.0      1      0  71.2833
2            3         1       3    0  26.0      0      0   7.9250
3            4         1       1    0  35.0      1      0  53.1000
4            5         0       3    1  35.0      0      0   8.0500

In [49]:
# 결측치 제거
mean_age = df['Age'].mean()

df['Age'] = df['Age'].fillna(mean_age)


print(df)

     PassengerId  Survived  Pclass  Sex        Age  SibSp  Parch     Fare
0              1         0       3    1  22.000000      1      0   7.2500
1              2         1       1    0  38.000000      1      0  71.2833
2              3         1       3    0  26.000000      0      0   7.9250
3              4         1       1    0  35.000000      1      0  53.1000
4              5         0       3    1  35.000000      0      0   8.0500
..           ...       ...     ...  ...        ...    ...    ...      ...
886          887         0       2    1  27.000000      0      0  13.0000
887          888         1       1    0  19.000000      0      0  30.0000
888          889         0       3    0  29.699118      1      2  23.4500
889          890         1       1    1  26.000000      0      0  30.0000
890          891         0       3    1  32.000000      0      0   7.7500

[891 rows x 8 columns]